
body {
  /* font-size: 14px; */
  /* font-weight: 400; */
  font-family: "Nunito", "Segoe UI", arial;
  font-weight: 400;
  overflow-x: hidden;
}

.label-text {
    font-weight: 600;
}

b.required {
    color: red;
}

label.form-check-label {
    font-weight: 600;
    font-size: 13px;
}

div.seat {
    background-color: #eeaa0e;
    border-radius: 5px;
    color: black    ;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 14px;
}

div.display-left {
    background-color:#ff8509;
    padding-left: 50px;
    padding-top: 80px;
    color: white;
    font-size: 13px;
    font-weight: 500;
}

@media only screen and (max-width: 600px) {
    div.display-left {
      padding-top: 20px;
      padding-bottom: 20px;
    }
} 

p.text-hint {
    color: black;
    font-weight: 400;
}